@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32;
  color: #f5f6f7;
}

form {
  width: 60vw;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  background-color: #3b3b6e;
  padding: 1rem 2rem;
}

div{
  padding-bottom: 1rem;
  border-bottom: 3px solid #63638f;
}

div:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

label{
  display: block;
  margin: 1rem auto;
  text-align: left;
}



input, select, textarea {
  padding: 0 0 0 0;
  border: none;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: #0a0a23;
  color: #ffffff;
 }

.inline {
  width: unset;
}

header {
  margin: 2em auto 2.5em auto;
  text-align: center;
}

input[type="submit"] {
  display: block;
  width: 100%;
  margin: 1em auto;
  height: 2em;
  min-width: 300px;
}